# Created by .ignore support plugin (hsz.mobi)
/operation-core/src/main/java/com/vdian/fenxiao/operation/core/param/ReportQueryDO.java

*.iml
*/*.iml
.DS_Store

## Directory-based project format:
.idea/

target/
*/target/

*/WebContent

*/deploy.local.sh
*/.settings
logs/
*/logs
.classpath
.project
build.properties
*.class
classes/
.settings/org.eclipse.core.resources.prefs

*/mvn.sh
